
<div class="column-bar-container roboto-regular">
    <div class="f-row-left column-bar-sections">
        <div class="btn"><span><a href="../">Create</a></span></div>
        <div class="btn"><span><a href="/list">List</a></span></div>
        
    </div>
    
    <div class="f-row-right column-bar-sections">
        <div class="btn"><span>Login</span></div>
    </div>
</div>